// 60% black color (c-primary)   30% white  (c-secondary)  10% gradient (c-tertiary)

$color-primary: #000;
$color-secondary: #fff;
$color-tertiary-1: #760979;
$color-tertiary-2: #00d4ff;

$hue-animation: animateColor 5s linear infinite;
