.about {
  &__container {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    position: relative;
    width: 300rem;
    height: 36rem;
    border-radius: 1.6rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      inset: 7px;
      border-radius: 1.6rem;
      z-index: 1;
    }

    &-photo {
      width: 100%;
      height: 100%;
      border-radius: 1.6rem;
      position: relative;
      object-fit: cover;
    }

    &::after {
      // border-radius: 1.6rem;
      content: "";
      position: absolute;
      width: 60rem;
      border-radius: 1.6rem;
      height: 60rem;
      background-image: conic-gradient(
        transparent,
        transparent,
        transparent,
        $color-tertiary-1
      );
      animation: rotate 4s linear infinite, animateColor 6s linear infinite;

      animation-delay: -2s;
    }
    &::before {
      border-radius: 1.6rem;
      content: "";
      position: absolute;
      width: 60rem;
      height: 60rem;
      background-image: conic-gradient(
        transparent,
        transparent,
        transparent,
        $color-tertiary-1
      );
      animation: rotate 4s linear infinite, animateColor 5s linear infinite;
    }
  }

  &__content {
    margin-left: 10rem;

    &-header {
      margin-bottom: 3rem;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-tertiary-1;
      animation: $hue-animation;
      font-size: 2.5rem;
    }
    &-headline {
      margin-bottom: 3rem;
      font-size: 2rem;
    }
    &-info {
      font-size: 1.4rem;
    }
  }
}
