.project {
  width: 60%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 1, 1);
  // border-radius: 1.6rem;

  &__headline {
    color: $color-tertiary-1;
    animation: $hue-animation;
    font-size: 2.3rem;
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__info {
    text-align: center;
  }
  &__res {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;

    &-language {
      padding: 0.7rem 1.2rem;
      margin-right: 1rem;

      background-color: rgb(29, 29, 29);
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    margin-left: 7rem;

    &-link {
      margin-right: 4rem;
      font-size: 1.5rem;
    }
  }
}

.project-1 {
  flex-direction: row;
  margin-bottom: 4rem;
}

.project-2 {
  flex-direction: row-reverse !important;
}
