.active {
  color: $color-tertiary-1;
  transform: translateY(-0.5rem);
}

.markup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: $hue-animation;

  margin-top: 13rem;
  &__number {
    background-color: $color-tertiary-1;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1.5rem;

    position: relative;

    &::after {
      background-color: $color-tertiary-1;
      position: absolute;
      content: "";
      bottom: 100%;
      left: 25%;
      width: 2rem;
      height: 13rem;

      clip-path: polygon(33% 100%, 50% 0, 63% 100%);
    }
  }
  &__name {
    font-size: 1.4rem;
  }
}

.span2 {
  display: flex;

  flex-direction: row-reverse;
  @include respond(tab-land) {
    flex-direction: column;
  }

  @include respond(phone) {
    margin: 0 auto;
    width: 40rem;
  }
}
.span1 {
  @include respond(tab-land) {
    flex-direction: column;
  }
}

.bgAnimation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  right: 0;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(50, 1fr);
  background: rgba(1, 1, 1, 0.259);
  filter: saturate(2);

  overflow: hidden;
}

.colorBox {
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease-in;
  position: relative;
  margin: 2px;
  background: #000;
}

.background__ambient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #00bfff;
  filter: blur(80px);
  animation: animBack 10s linear infinite;
}
.background__ambient-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #00bfff;
  filter: blur(80px);
  animation: animBack 10s linear infinite;
  animation-delay: 4s;
}

.hidden {
  // transform: translateY(4rem);
}

.section {
  transition: all 1s;
}

.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}
